extends layout

//block content
//  h1= title
//  p Welcome to #{title}
//  a(href="/auth/facebook") Login


block content
	.container(ng-controller="login")
		row(class="col-md-8 col-lg-offset-2")
			a(href="/auth/facebook") Login
				
